    .noteInput{
      margin: 5px;
      border-radius: 5px;
      border: 0.5 solid gray;
    }
    .noteInput:hover{
      border-color: tomato;
    }



    #noteContent{
      border-radius: 5px;
      margin: 5px;
      border: 0.5px solid gray;
    }

    #noteContent:hover{
      border-color:  #B56060;
    }



    .addBtn{
      font-size: 14px;
      border-radius: 5px;
      background-color: rgb(245, 193, 98);
      cursor: pointer;
      margin: 5px;
    }
    .addBtn:hover{
      background-color: orange;
      transition: 0.9;
      margin: 5px;
    }



    #search{
      border-radius: 5px;
      margin: 5px;
      border: 0.5px solid;
    }

    #search:hover{
      border-color: blueviolet;
    }



    #exportBtn{
      margin: 5px;
      background: #B5B4D9;
      border-radius: 5px;
      cursor: pointer;
    }

    #exportBtn:hover{
      background-color:#9e9cea;
    }



    #importBtn{
      margin: 5px;
      background-color: #9CD3D9;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
    }

    #importBtn:hover{
      background-color: #79e1ec;
    }
